.container-filterMenu {
  width: var(--width-filterBox);
  position: fixed;
  left: var(--padding-page);
  border-right: 1px solid black;
  height: 100%;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filter-block {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
