.text-addedToCart.playstation {
  color: var(--color-playstation-dark);
}

.custom-container-btn-action.playstation button {
  color: white;
  background-color: var(--color-playstation);
}

.custom-container-btn-action.playstation button:hover {
  background-color: var(--color-playstation-dark);
}
