.text-addedToCart.playstation {
  color: var(--color-playstation-dark);
}

.custom-container-btn-action.playstation button {
  color: white;
  background-color: var(--color-playstation);
}

.custom-container-btn-action.playstation button:hover {
  background-color: var(--color-playstation-dark);
}

.text-addedToCart.xbox {
  color: var(--color-xbox-dark);
}

.custom-container-btn-action.xbox button {
  color: white;
  background-color: var(--color-xbox);
}

.custom-container-btn-action.xbox button:hover {
  background-color: var(--color-xbox-dark);
}
