.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: var(--z-header);
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.header a.link-logo {
  text-decoration: none;
  color: black;
}

.btn-mobile-nav {
  font-size: 1.6rem;
}

.container-logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.container-logo img {
  width: 2.5rem;
}

.container-user-details {
  display: flex;
  gap: 1rem;
}

.container-user-details .shoto-container-badge .shoto-badge {
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
}

.container-cart-icon {
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  font-size: 1.3rem;
  color: var(--banner-color-3);
  box-shadow: var(--color-primary) 0px 2px 8px;
}
