.navbar {
  width: max-content;
}

.navbar ul {
  list-style: none;
  padding: 0;
  padding-inline-start: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.navbar ul li {
  display: block;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.link.active {
  position: relative;
  font-weight: 500;
}

.link-active-circle {
  height: 5px;
  width: 5px;
  background-color: var(--banner-color-3);
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: 50%;

  right: 50%;
}
