* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;

  --height-header: 70px;
  --width-filterBox: 220px;
  --padding-page: 2rem;

  /* z indices */
  --z-header: 2;
  --z-glass-circle: 1;
  --z-filterPhone: 3;
  --z-navPhone: 4;

  /* colors */
  --color-yellow: rgb(255, 216, 20);
  --color-yellow-dark: rgb(247, 202, 0);
  --color-playstation: rgba(0, 111, 205, 0.9);
  --color-playstation-dark: rgba(0, 111, 205, 1);
  --color-xbox: rgba(16, 124, 16, 0.9);
  --color-xbox-dark: rgba(16, 124, 16, 1);
  --color-primary: #63c8c5;

  /* banner */
  --banner-color-1: #34108b;
  --banner-color-2: #4a1aa1;
  --banner-color-3: #6b3aba;
  --banner-color-4: #6957ab;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon {
  cursor: pointer;
}

.page-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: calc(var(--height-header) + 1rem);
  padding: 0 0 0.5rem 0;
}

.text-addedToCart {
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text-addedToCart .icon-addedToCart {
  font-size: 1.3rem;
  position: relative;
  top: 1px;
}

.container-app {
  padding: 0 2rem 2rem 2rem;
  height: 100%;
  overflow-x: hidden;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1.5rem;
}

.games-list .container-cardCustom img {
  min-height: 150px;
}

.games-list .container-cardCustom .container-cardContent {
  flex-grow: 1;
}

.games-list a {
  text-decoration: none;
  color: unset;
}

.custom-container-heart {
  color: rgb(224, 36, 94);
  cursor: pointer;
  font-size: 1.4rem;
  padding: 5px 7px 0px 7px;
  border-radius: 50%;
}

.custom-container-heart:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.text-addedToCart {
  flex-grow: 1;
  align-items: flex-end;
}

.custom-container-btn-action {
  padding: 0 5px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.custom-container-btn-action button {
  width: 60%;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-yellow);
  cursor: pointer;
  color: #0f1111;
  font-size: 0.9rem;
}

.custom-container-btn-action button:hover {
  background-color: var(--color-yellow-dark);
}

.custom-container-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.custom-container-rating {
  font-size: 1.2rem;
  padding: 4px 0 0 0;
}

.custom-card-price {
  margin-bottom: 5px;
}

.main-container-products {
  margin-top: var(--height-header);
}

.main-container-products .games-list {
  margin-left: calc(1rem + var(--width-filterBox));
  padding-top: 1rem;
}

.disclaimer-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.disclaimer-empty img {
  width: 18rem;
}

.disclaimer-empty div {
  font-size: 1.2rem;
  text-align: center;
}

.btn-primary-yellow {
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-yellow);
  cursor: pointer;
  color: #0f1111;
  font-size: 0.9rem;
}

.btn-primary-yellow:hover {
  background-color: var(--color-yellow-dark);
}

@media screen and (max-width: 768px) {
  .main-container-products .games-list {
    margin-left: 0;
    padding-bottom: 5rem;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1.5rem;
  }

  .product-grid .container-cardCustom {
    max-width: 100%;
  }

  .custom-container-btn-action button {
    padding: 1rem;
    border-radius: 2rem;
  }
}
