.container-authPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: white;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5rem;
}

.auth-heading {
  font-size: 2rem;
  font-weight: 600;
}

.auth-subheading {
  font-size: 0.9rem;
  padding: 0.2rem 0 0.5rem 0;
}

.form-login {
  width: 100%;
}

.form-login input {
  width: 100%;
  padding: 0.5rem 0.2rem;
  margin: 0.5rem 0;
  outline: none;
  font-size: 1rem;
}

.form-login .btn-submit {
  margin-top: 1rem;
  width: 100%;
  padding: 0.4rem 0;
  color: white;
  background-color: var(--banner-color-3);
  opacity: 0.95;
  cursor: pointer;
  border: none;
  outline: none;
}

.form-login .btn-submit:hover {
  opacity: 1;
}

.form-login .btn-submit.secondary {
  background-color: var(--banner-color-2);
}

.label-password {
  position: relative;
}

.icon-eye {
  position: absolute;
  right: 0.6rem;
  top: 0.1rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .container-form-login {
    margin: 0 1rem;
  }
}
